<% provide(:title, 'About us') %>
<h1>About Us</h1>
<p>
  Our team supports a wide range of products and services including software development,
  enterprise-wide quality and business management systems, web-based distributed training
  (including the use of synthetic environments and gaming technology), classroom training,
  electronic performance support systems, Interactive Electronic Technical Manuals (IETMs).
  and professional services (engineering, logistics, information technology, program management
  and administration). When a business need exists Harrington Group stands ready to partner with
  you to develop a complete support system for your organization.
</p>
<p>
  Harrington Group, Inc. (HGI) is a Service-Disabled-Veteran Owned Small-Business (SDVOSB) established in 1991 and headquartered in Orlando, Florida. Harrington Group is the pioneer and leading supplier of software tools for Business/Enterprise and Quality Management Software solutions.
</p>
 


         