<% provide(:title, 'Thank You') %>
<div class="hero-unit">
  <center>
    <h2>Thank you for submitting your project profile!</h2></br>
  <p>
    If you have any questions please feel free to call us at 800-ISO-9000 or email at <a href="mailto:sales@harrington-group.com">sales@harrington-group.com</a>
  </p>
  </br>
  <p>
    If you would like to submit a new project profile please click on the button below
  </p>
  </br>
  <%= link_to 'New Project', root_path, class: "btn btn-primary btn-large" %>
  </center>
  
</div>
